:root {
  --blue: #4444bb;
  --white: #ffffff;
  --black: #000000;
  --grey: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #000a16;
    --black: #ffffff;
    --grey: rgba(255, 255, 255, 0.2);
  }
}

html {
  height: 100%;
  color: var(--black);
  background: var(--white);
}

body {
  margin: 0;
  height: 100%;
  padding: 20px;
  display: flex;
  user-select: none;
  font-family: verdana;
  box-sizing: border-box;
  flex-direction: column;
}

a {
  margin-top: 1.2em;
  color: var(--blue);
  display: inline-block;
}

details {
  border-radius: 4px;
  padding: 0.5em 0.5em 0 0;
}

summary {
  font-weight: bold;
  position: relative;
  margin: -0.5em -0.5em 0 0;
  padding: 0.5em 1.5em 0.5em 0.5em;
}

summary::marker {
  content: '→';
  font-size: 0.8em;
}

summary.unread:after {
  right: 0;
  content: '•';
  position: absolute;
  top: calc(50% - 10px);
}

details[open] summary {
  margin-bottom: 0.5em;
  border-bottom: 1px solid var(--grey);
}

details[open] summary::marker {
  content: '↓';
}
