:root {
  --blue: #4444bb;
  --white: #ffffff;
  --black: #000000;
  --grey: rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #000a16;
    --black: #ffffff;
    --grey: rgba(255, 255, 255, 0.2);
  }
}

html, body {
  margin: 0;
  height: 100%;
  color: var(--black);
  background: var(--white);
}

body {
  font-family: verdana;
  user-select: none;
}

body {
  overflow: hidden;
  user-select: none;
  font-family: verdana;
}

main {
  height: 100dvh;
  overflow: auto;
  padding-inline: 1em;
  color: var(--black);
  background: var(--white);
  -webkit-overflow-scrolling: touch;
}

section {
  padding-top: 0;
  padding-bottom: env(safe-area-inset-bottom, 0);
}

a {
  margin-top: 1.5em;
  color: var(--blue);
  display: inline-block;
}

i {
  display: block;
  font-size: 0.8em;
  color: var(--grey);
  margin-bottom: 1em;
}

details {
  padding-top: 0.5em;

  p {
    margin-inline: 0.5em;
  }

  &[open] summary {
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--grey);
  }

  summary {
    font-weight: bold;
    position: relative;
    margin-inline: 0.5em;
    padding-block: 0.5em;

    &::marker,
    &::-webkit-details-marker {
      content: '';
      font-size: 0;
      display: none;
    }

    &:after {
      right: -1em;
      content: '›';
      position: absolute;
      top: calc(50% - 10px);
    }

    &.unread:before {
      left: -1em;
      content: '•';
      position: absolute;
      top: calc(50% - 10px);
    }
  }
}
